In [1]:
# Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

database_path = "../Resources/Census_Data.sqlite"

In [2]:
# Create Engine
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [3]:
cenus_df = pd.read_sql("select * from Census_data", conn)

In [4]:
cenus_df

,CityState,city,state,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Employment Female Computer Engineering,Median Age,Median Male Age,Median Female Age,Household Income,Income Per Capita,Median Gross Rent,Median Home Value,lat,lng
0,"HOUSTON, TX",HOUSTON,TX,3061887,1775897,684416,11586,230549,1368287,54180,...,22637,33.439583,32.550000,34.363542,56206.50000,32239.52083,956.708333,178233.6842,29.775734,-95.414548
1,"CHICAGO, IL",CHICAGO,IL,2702091,1318869,843633,7554,161478,785374,32800,...,18209,34.526786,33.798214,35.141071,57735.96429,38730.83929,1119.928571,264739.2857,41.867838,-87.673440
2,"BROOKLYN, NY",BROOKLYN,NY,2595259,1126111,870465,8744,297890,509243,48934,...,14845,35.175676,33.367568,36.578378,51469.18919,28309.67568,1261.783784,605743.2432,40.652805,-73.956528
3,"LOS ANGELES, CA",LOS ANGELES,CA,2426413,1068202,324842,15949,273829,1292382,62684,...,12329,35.335484,34.535484,36.061290,47494.58333,30073.19355,1201.766667,557115.0000,34.042209,-118.303468
4,"MIAMI, FL",MIAMI,FL,1820704,1361009,363514,2250,33144,1162711,27137,...,6969,38.740741,37.120370,40.262963,51232.90741,25949.35185,1260.833333,243279.6296,25.760268,-80.298511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,"ALTAMONTE SPRINGS, FL",ALTAMONTE SPRINGS,FL,56883,42747,9599,8,1629,13925,504,...,397,40.800000,39.500000,42.500000,49270.00000,26841.00000,1008.500000,137250.0000,28.664100,-81.391002
995,"CHILLICOTHE, OH",CHILLICOTHE,OH,56783,50065,3842,27,398,689,577,...,356,40.400000,39.100000,42.300000,43460.00000,21112.00000,672.000000,112500.0000,39.312060,-82.957071
996,"FARMINGTON, NM",FARMINGTON,NM,56781,35887,448,14425,298,13550,425,...,325,34.333333,34.066667,35.500000,48492.66667,22886.66667,978.500000,151933.3333,36.622898,-108.179508
997,"FAIRFIELD, CT",FAIRFIELD,CT,56704,50515,946,8,2777,3337,140,...,367,40.150000,39.250000,41.400000,119230.50000,55042.00000,1679.000000,556600.0000,41.184811,-73.262036
998,"DEARBORN HEIGHTS, MI",DEARBORN HEIGHTS,MI,56656,47746,4856,338,1108,2371,745,...,186,38.400000,38.300000,38.650000,45113.00000,21787.00000,947.500000,84050.0000,42.306564,-83.274064